body {
  font-family: "Roboto", sans-serif;
}

.ol-control button {
  border: none; /* Remove bordas */
  color: white; /* Cor do texto */
  padding: 16px 16px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remove sublinhado */
  display: flex;
  justify-content: center; /* Alinha elementos horizontalmente ao centro */
  align-items: center; /* Alinha elementos verticalmente ao centro */
  font-size: 16px; /* Tamanho da fonte */
  margin: 2px 2px;
  cursor: pointer; /* Muda o cursor para um ponteiro quando você passa o mouse sobre */
  border-radius: 12px; /* Cantos arredondados */
  width: 60px;
  height: 60px;
  top: 0%;
}

#legend-container-5m {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none; /* Oculta por padrão */
}

button.ol-zoom-in,
button.ol-zoom-out {
  width: 25px; /* Largura do botão */
  height: 25px; /* Altura do botão */
}

.map {
  height: 945px;
  width: 100%;
  position: absolute;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 100%;
  background-color: #f9f9f9;
  min-width: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 12px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  min-width: 60px;
  padding: 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
}

.dropbtn:hover {
  background-color: #45a049;
}

#map-switcher {
  position: absolute;
  bottom: 15px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#map-switcher label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

#map-switcher input[type="checkbox"] {
  display: none;
}

#map-switcher input[type="checkbox"] + img {
  border: 2px solid #000;
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

#map-switcher input[type="checkbox"]:checked + img {
  border: 5px solid #4caf50;
}

#map-switcher input[type="radio"] {
  appearance: none;
  width: 0;
  height: 0;
}

#map-switcher input[type="radio"] + img {
  border: 2px solid #000;
}

#map-switcher input[type="radio"]:checked + img {
  border: 5px solid #4caf50;
}

#map-switcher input[type="range"] {
  width: 100%;
}

#map-switcher img {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 5px;
}

#map-switcher span {
  display: block;
  text-align: center;
}

#map-switcher .dropdown-content {
  width: auto; /* Ajusta automaticamente a largura para o conteúdo */
  padding: 10px; /* Adiciona um pouco de espaço ao redor do conteúdo */
}

.toggleButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.toggleButton:hover {
  background-color: #2b642c;
}

.novaCor {
  background-color: #2b642c;
}

#weather-info {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

#weather-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#weather-info p {
  font-size: 18px;
  margin-bottom: 5px;
}

.ol-popup {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 550px;
  display: none;
}

.ol-popup-closer {
  position: absolute;
  bottom: -2px;
  right: 5px;
  font-size: 40px;
  color: #888;
  text-decoration: none;
}

.ol-popup-closer:hover {
  color: #555;
  cursor: pointer;
}

#exportIcon {
  position: absolute;
  top: 90px;
  left: 15px;
  background-color: #ffffffa6;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  z-index: 1000; /* Certifique-se de que o ícone fique acima do mapa */
}